# Created by .ignore support plugin (hsz.mobi)
/local.properties
.gitignore
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
TeamPlayersApp.iml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/libraries/
